/* General Styles */

:root {
	font-size: 10px;
	--heading-height: 30em;
}
 
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
 
header {
	position: absolute;
	width: 100%;
	height: var(--heading-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 229px;
	z-index: 100;
}
 
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center, linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}
 
h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
	margin-left: 76px;
	margin-bottom: 118px;
}
 
/* Profile Menu */
 
.profile {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	text-align: end;
	margin-right: 258px;
	margin-top: -102px;
}
 
.profile h3 {
	text-align: end;
	line-height: 1;
	margin-bottom: 4px;
	font-weight: 1000;
	font-size: 21px;
	color: #fff;
}
 
.profile p {
	line-height: 1;
	font-size: 22px;
	opacity: .6;
	color: #fff;
	margin: 5px 8px 21px;
}
 
.profile .img-box {
	position: relative;
	width: 101px;
	height: 103px;
	border-radius: 50%;
	overflow: hidden;
}
 
.profile .img-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
 
/* Menu (the right one) */
 
.menu {
	position: absolute;
	right: 254px;
	width: 150px;
	min-height: 101px;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
	opacity: 0;
	transform: translateY(-10px);
	visibility: hidden;
	transition: 300ms;
	margin-top: 208px;
}
 
.menu::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 14px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
	z-index: -1;
}
 
.menu.active {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
 
/* Menu Links */
 
.menu ul {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 10;
	background: #fff;
}
 
.menu ul li {
	list-style: none;
}
 
.menu ul li:hover {
	background: #eee;
}
 
.menu ul li a {
	text-decoration: none;
	color: #000;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	gap: 6px;
}
 
.menu ul li a i {
	font-size: 1.2em;
}
 
/* Main Container */
 
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('back2.avif'); 
	background-size: cover;
	height: 800px;
	background-attachment: inherit;
	z-index: 1;
	margin-bottom: -178px; 
}
 
.content {
	position: absolute;
	text-align: center;
}
 
.title {
	font-size: 215px;
	color: white;
	margin: 0;
	margin-top: 159px;
}
 
.description {
	color: white;
	font-size: 35px;
	font-weight: 900;
}
 
.container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Dark black overlay */
}
 
.container img {
	filter: brightness(20%); /* Adjust brightness to make it darker */
}
 
/* Sport Container */
 .fix {
	margin: 0;
  font-size: 20px;

  height: 20px;
  display: flex;
  flex-direction: column;
 }

.h1-s {
	font-size: 69px;
  line-height: 94px;
  padding: 12px;
  margin-right: 44px;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin: 0;
    margin-top: 0px;
    margin-top: 39px;

}

.img-container-behind {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
 }
 .img-container-behind img {
	width: 100%;
  height: auto;
  margin-top: -535px;/* Adjust opacity as needed */
 }

 .img-container-behind::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Dark black overlay */
}
 
.img-container-behind img {
	filter: brightness(31.3%); /* Adjust brightness to make it darker */
}
.sport-container {
	width: 800px;
	margin: 77px auto 30px auto; /* Updated margin */
	padding: 40px; /* Increased padding for better spacing */
	background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* Light gray background */
	border-radius: 300px; /* Smaller border radius for a more modern look */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Slightly increased shadow */
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto; /* Removed fixed height */
	z-index: 2;
	height: 500px;
 }
 


 
 .sport-container button {
	padding: 10px 20px; /* Increased padding for better clickability */
	background-color: #4CAF50; /* Green button color */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease; /* Smooth transition on hover */
 }
 
 .sport-container button:hover {
	background-color: #45a049; /* Darker green on hover */
 }
 
.filter-section {
	margin-bottom: 4px;
}

.filter-section label {
	font-size: 18px;
	color: #333;
}

.filter-section input,
.filter-section select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}


.filter-section button {
	background-color: #2980B9;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.filter-section button:hover {
	background-color: #2574a9;
}
 
/* Event Container */
 
.event-container {
	display: flex; /* Changed to grid for better alignment */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted column width */
	gap: 20px; /* Added gap for better spacing */
	flex-direction: row;
  margin: auto;
    margin-top: auto;
  margin-top: -296px;
  z-index: 2;
}
 
.event-box {
	border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 600px;
  width: 600px;
  background: white;
  opacity: 0.5;
}
 
.event-box h2 {
	margin-top: 0;
	text-align: center;
}
 
.event-list {
	list-style-type: none;
	padding: 0;
}
 
.event-list-item {
	margin-bottom: 10px;
}
 
.map {
	width: 100%;
}
/* Footer Styles */
 
.footer {
	position: relative; /* Fixed footer position */
	bottom: 0;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
 
.social-icon,
.menu1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
	margin-right: 170px;
}
 
.social-icon__item,
.menu__item {
	list-style: none;
}
 
.social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
 
.social-icon__link:hover {
	transform: translateY(-10px);
}
 
.menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
}
 
.menu__link:hover {
	opacity: 1;
}
 
.footer p {
	color: #fff;
	font-weight: 300;
	margin-right: 123px;
	font-size: 15px;
}
 
.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("https://i.ibb.co/wQZVxxk/wave.png");
	background-size: 1000px 100px;
}
 
.wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}
 
.wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}
 
.wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}
 
.wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}
 
@keyframes animateWaves {
	0% {
	    background-position-x: 1000px;
	}
	100% {
	    background-positon-x: 0px;
	}
}
 
@keyframes animate {
	0% {
	    background-position-x: -1000px;
	}
	100% {
	    background-positon-x: 0px;
	}
}
